---

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-4 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-green-600">
            DofusLink
        </h2>
        <p class="font-light text-green-500 sm:text-xl dark:text-green-400">
            La mejor biblioteca y guía de dofus hispanohablante
        </p>
    </div>

    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <a class="text-green-400" href="/">Almanax</a>
        <a class="text-green-400" href="/">Misiones</a>
    </nav>

</header>